
/* 
    Created on : Sep 28, 2018, 12:54:47 PM
    Author     : User
*/
.btn-heading {
    background: #b0d133;
    color: #fff;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #b0d133;
}
.btn-heading:hover {
    background: #fff;
    color: #b0d133;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #b0d133;
}
.topic {
    float: left;

}
.ask-btn, .nav {
    float: right;
    margin-bottom: 20px;
}
.topic h3 {
    margin-top: 0px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-right: -4px;
    border-radius: 0px;
}
.btn-default .active {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.main-divider {
    width: 100%;
    height: 3px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0px;
}
.answers-count {
    margin: 10px 0px;
    border: 1px solid #00a1ab;
    padding: 0px;
    width: 80px;
    height: 80px;
}
.answers-count.active {
    margin: 10px 0px;
    border: 1px solid #00a1ab;
    padding: 0px;
    background: #b5d43f;
}
.answers-count h2, .answers-count h6 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
}
.answers-count.active h2, .answers-count.active h6 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
    color: #fff;
}
.description {
    margin-top: 6px;
    text-align: justify;
}
.qu-subject a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.qu-subject a:hover{
    color: #b5d43f;
}
.more p {
    font-size: 15px;
    line-height: 27px;
    color: #6e6d6d;
}
.question {
    margin-bottom: 10px;
    text-align: justify;
}
.qu-description {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}
.blog.col-md-9 {
    padding-left: 0px;
    padding-right: 0px;   
}
.description.col-md-9 {
    padding-left: 15px;
    padding-right: 0px;   
}
.question.col-md-9 {
    padding-left: 15px;
    padding-right: 0px;   
}
.question.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;   
}
/*.asked-by .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    margin-top: 5px;
}*/
.asked-by.col-md-2 {
    padding-left: 30px;
    padding-right: 0px;
}
.asked-by img {
    width: 40px;
    border: 1px solid black;
    border-radius: 0px;
}
.hr.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.time-ago {
    color: #837e7e;
    text-align: left;
    font-size: 13px;
}
.qu-form .panel, .answer-form .panel {
    padding: 20px;
}
input[type="submit"] {
    background: #b0d133;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    width: 100px;
    height: auto;
}
.view-qu.asked-by {
    margin-bottom: 20px;
}
.comment-btn a{
    color: #ccc;
    font-size: 12px;
}
.comment-by {
    color: #00B0E8;
    font-size: 12px;
}
.commented-at {
    color: #ccc;
    font-size: 12px;
}
.answer-form #btn-submit {
    margin-top: 20px;
}
.qu-form #btn-submit {
    margin-top: 20px;
}
.view-qu .time-ago {
    font-size: 12px;
    line-height: 17px;
    margin-top: 3px;
}
.company-logo {
    text-align: right;
    margin-top: 10px;
}
.modal-body .col-md-6 {
    text-align: center;
    font-size: 15px;
    color:#ccc;
    margin-bottom: 20px;
}
.modal-body a {
    color:#ccc;
}
.asked-by .asked-by-blog {
    line-height: 17px;
    margin-top: 0px;
    color: #ccc;
}
.modal-body a.active {
    color:#b0d133;
}
.view-qu.col-md-2 {
    padding-left: 0px;
    padding-right: 25px;
}
.comment-p{
    text-align: justify;
}
#ps {
    margin-bottom: 15px;
}
#pos {
    margin-bottom: 15px;
}
.newest-btn {
    border-radius: 6px 0 0 6px;
}
.unanswered-btn{
    border-radius: 0px 6px 6px 0px;
}
.blog-profile .col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-12.blog-profile {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-12.time-ago {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.asked-by i {
    margin-right: 10px;
    font-size: 13px;
}
.qu-i {
    color: #8a8a8a;
    font-size: 13px;
}
.col-md-8.asked-by-blog {
    padding-left: 0px;
}
.asked-by-blog .qu-name {
    color: #4cb3e4;
}
@media(max-width: 1000px) {
    .container {
        width: 100%
    }
}
@media(max-width: 600px) {

    .answer.col-md-12 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .answers-count {
        width: 60px;
        height: 80px;
    }
    .view-qu.col-xs-2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog.col-md-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}