/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2018, 2:56:03 PM
    Author     : U s E r ¨
*/
body {
    color: #707070;
    font-size: 15px;
    line-height: 27px;
    text-transform: none;
}
.search-destination-item {
    margin-bottom: 20px;
}
.search-destination-item .driver-name {
    position: absolute;
    margin-top: 7px;
    left: 15px;
    z-index: 0;
    color: #1a0202;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
.search-destination-item .star-rating-fa {
    z-index: 9;
    position: relative;
    color: #ead814;
    padding-left: 0px;
    margin-top: 28px;
    font-size: 12px;
    padding-right: 10px;
}
.search-destination-item .button-section {
    text-align: left;
}
.search-destination-item .button-section .btn{
    margin-bottom: 0px;
    padding: 5px 13px 2px;
    font-size: 16px;
}
.search-destination-item .button-section .btn.btn-view{
    background: #0dce38;
    color: #fff;
    border: 1px solid #0dce38;
    margin-right: 15px;
}
.search-destination-item .button-section .btn.btn-cart{
    background: #fff;
    color: #0dce38;
    border: 1px solid #0dce38;
}
.search-destination-item a.listing-item-container {
    border: 1px solid #848f86;
    box-shadow: 1px 3px 9px;
    text-decoration: none;
    color: #000;
}

.search-destination-item .button-section .btn.btn-view:hover{
    background: #fff;
    color: #0dce38;
    border: 1px solid #0dce38;
    margin-right: 15px;
}
.search-destination-item .button-section .btn.btn-cart:hover {
    background: #0dce38;
    color: #fff;
    border: 1px solid #0dce38;
}
.search-destination-item p {
    font-size: 11px;
    text-align: justify;
    line-height: 15px;
    padding: 0px;
    margin-bottom: 0px;
}
.search-destination-item .listing-item {
    background: none;   
}
.search-destination-item .listing-item::before {
    background: none;   
    background-color: none;
}
.search-destination-item .listing-item.col-md-5 {
    padding-left: 0px;
    padding-right: 0px;
}
.search-destination-item .rating-counter {

    color: #888;
    padding-left: 10px;
    display: inline-block;
    font-size: 12px;

}
.search-destination-item .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.search-destination-item .search-destination-inner {
    background: #eee;
}
.location-search-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #707070;
}
.search-destination-item .listing-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
}
.location-search-btn {
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #0dce38;
    background: #0dce38;
    background-image: none;
    color: #fff;
}
#search-content h1, #search-content1 h1 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.city-item {
    margin-bottom: 50px;
}
.city-item .search-destination-inner {
    margin-bottom: 50px;
}
.city-item .driver-name {
    position: relative;
    margin-top: 20px;
    left: 0;
    z-index: 0;
    color: #1a0202;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
}
.city-item p {
    font-size: 15px;
    text-align: justify;
    line-height: 22px;
    padding: 0px;
    margin-bottom: 0px;
}
.city-item .listing-item {
    background: none;   
}
.city-item .listing-item::before {
    background: none;   
    background-color: none;
}
.city-item .listing-item.col-md-5 {
    padding-left: 0px;
    padding-right: 0px;
}
.city-item .col-md-3, .city-item .col-sm-3, .city-item .col-xs-3{
    padding-left: 0px;
    padding-right: 0px;
}
.city-item .col-md-12, .city-item .col-sm-12, .city-item .col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}
.city-item .search-item-details.col-xs-12{
    padding-left: 25px;
    padding-right: 25px;
}
.city-item  .search-destination-inner {
    background: #eee;
}
.location-search-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #707070;
    font-family: 'Oswald', sans-serif;
}
.search-destination-item .listing-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
}
.main-search-input {
    margin-bottom: 40px;
}
.main-search-input-item.location a {
    z-index: 0;
}
.listing-item {
    z-index: 0;
}
#autocomplete-container, #autocomplete-input {
    z-index: 0;
}
@media(max-width:600px) {

    input[type="text"].location-search-input {
        width: 75%;
    }
    .search-destination-item .star-rating-fa {
        margin-top: -3px;
    }
    .search-destination-item .driver-name {
        position: relative;
        margin-top: 7px;
        left: 0px;
    }
    .search-destination-item .driver-name {
        font-size: 18px;
    }
    .search-cities.search-destination-item .col-xs-7{
        padding-left: 5px;
        padding-right: 5px;
    }
    .search-cities.col-xs-12{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media(width:600px) {
    .search-destination-item .driver-name {
        font-size: 20px;
    }
}
.nearbydestinations-carousel .city-body{
    margin-bottom: 26px;
}