
@media only screen and (max-width: 360px) {
    .main-search-input-item .chosen-container-single .chosen-single, .main-search-input-item .chosen-single.chosen-container-active, .gray-style .main-search-input-item .chosen-container-single .chosen-single, .gray-style .main-search-input-item .chosen-single.chosen-container-active, .gray-style.main-search-input input, .gray-style.main-search-input input:focus, .main-search-input input, .main-search-input input:focus {
        padding: 0 21px;
        height: 35px;
        line-height: 39px;
        border-radius: 30px;
        background: #e0e0e0b3;
        border: 1px solid #e0e0e0;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .08);
        font-size: 12px;
    }
    item.location a {
        padding: 0px 1px;
        z-index: 101;
    }
    .input-with-icon i, .main-search-input-item.location a {
        padding: 0px 5px;
        z-index: 101;
    }
    .main-search-input select, .main-search-input select:focus {
        font-size: 13px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
        background: #fff;
        height: 33px;
        padding: 7px 18px;
        border-radius: 4px;
    }
    .main-search-input button.button {
        font-size: 18px;
        font-weight: 600;
        padding: 0 38px;
        margin-right: 1px;
        height: 46px;
        outline: 0;
        margin-bottom: 16px;
    }

}

