/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2018, 5:00:21 PM
    Author     : User
*/

@media (max-width: 576px) {
    .logo-header a img {
        height: 50px;
    }
    .header {
        text-align: center;
        height: 109px;
    }
    .header-topic {
        text-align: left;
        padding-left: 0px;
    }
    .header-topic h2 {
        font-size: 21px;
        margin: 0px;
    }
    .nav .navbar-nav {
        top: -31px;
    }
    .navbar-nav .open .dropdown-menu {
        background: #fff;
    }
    .profile-img img {
        margin-top: 20px;
    }
    .profile-img {
        margin: 0px auto 10px;
    }
    .navigation {
        height: 840px;
    }
    .dropdown {
        top: -40px;
    }
    .searchbutton, .searchbutton2, .searchbutton3 {
        width: 15%;
        padding: 13px 5px;
    }
    #myInput {
        width: 85%;
    }
    .star-rating-fa {
        margin-top: 23px;
        padding-right: 154px;
    }
    .driver-list {
        width: 33%;
        margin-top: -58px;
        margin-left: -4px;
    }
    .driver-profile .driver-name {
        margin-top: -2px;
        left: 38px;
        font-size: 16px;
    }
    .review-add-section h2 {
        font-size: 22px;
        color: #00a1ab;
    }
    .review {
        text-align: center;
        font-size: 30px;
    }
    .star1 {
        width: 34px;
    }
    .review-black-star {
        position: relative;
        width: 100%;
        margin: 0 0px;
        padding: 0px;
        text-align: center;
    }
    #add-review {
        margin-top: 15px;
    }
    .star {
        width: 20%;
    }

    .list-group-item {
        padding: 5px 10px;
        height: 50px;
    }
    .profile-panel {
        margin: 0px 0px 20px;
    }
    .content {
        height: auto;
    }
    .header-dropdown {
        top: 12px;
    }
    #sortable {
        margin-left: -35px;
    }
    .navigation.col-sm-3 {
        padding: 0px 0px;
    }
    .icon-text.icon-text2 {
        padding: 10px 5px;
    }
    .header-widget.widget-btn-right {
        float: left;
        margin-right: 0px;
    }
    #logo {
        right: 0px;
    }
    .header-widget.widget-btn-left {
        margin-right: 45px;
        margin-top: 1px;
    }
    .review-msg{
        padding-top: 10px;
    }
    .listing-item {
        width: 237px;
    }
    .header-widget {
        border-top: none;
    }
    .header-widget a.button.border {
        padding: 2px 16px 5px 0px;
    }
    .driver-profile .driver-name {
        color: #140202;
    }

}

@media(min-width:577px) and (max-width:990px) {

    .nav1 {
        width: 209px;
        margin: 10px 0px;
        height: 60px;
    }
    .icon-text {
        width: 139px;
        padding: 20px 5px;
    }
    .profile-panel {
        margin: 20px 0px;
    }
    .col-sm-3 {
        padding: 0px;
    }
    .navigation.col-sm-3 {
        padding: 0px 15px;
    }
    .pro-icon {
        float: left;
        margin: 0px 5px 0px 0px;
    }
    .list-group-item {
        padding: 5px 0px 5px 5px;
    }
    .pro-nav {
        padding: 5px 4px;
        font-weight: 600;
    }
    .dropdown.open {
        margin-top: -60px;
    }
    #myInput {
        width: 92%;
    }
    .searchbutton, .searchbutton2, .searchbutton3 {
        width: 8%;
    }
    .driver-profile .driver-name {
        left: 119px;
        padding-top: 7px;

    }
    .star {
        width: 30%;
    }
    .icon-text1 {
        padding: 10px 5px;
    }
    .header-widget.widget-btn-left {
        float: right;
        /*     margin-right: 172px;*/
        margin-top: 1px;
    }
    .header-widget.widget-btn-right {
        float: right;
        /*        margin-right: 119px;*/
    }
    .header-widget {
        border-top: none;
    }
    .header-widget a.button.border {
        padding: 2px 16px 5px 0px;
    }
    .right-side, .left-side {
        width: 100%;
        padding-top: 18px;
    }
    .header-widget {
        margin-top: -26px;
    }
    .header-widget.widget-btn-left {
        margin-top: -26px;
    }

    .parallax {
        background-image: url('../images/driver-dark2.jpg');
        min-height: 1100px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0px;
    }
    .box {
        top: 50px;
        padding: 0px 60px;
    }
    .header-topic h2 {
        text-align: center;
        padding-left: 146px;
    }
    .profimg{
        text-align: center;
    }
    .profile-panel {
        margin-right: -14px;
    }
    .star-rating-fa {
        margin-top: -12px;
        padding-right: 148px;
    }
    .img-pad {
        padding-bottom: 0px;
    }
    .driver-list {
        width: 22%;
        margin-top: -36px;
        border: solid white 2px;
        z-index: 99999;
        position: relative;
    }
    .searchbutton2 img{
        margin-left: -6px;
    }
    .tourpackreview{
        margin-right: 0px;
    }
    .searchbutton3 img {
        margin-left: -5px;
    }
    .booking-panal{
        margin-right: 0px;
    } 
    .bookingtable{
        width: 255px;
    }
    .taiermadepanal{
        margin-right: 0px;
    }


}

@media (min-width: 760px) and (max-width: 900px) {
    .parallax {
        min-height: 1100px;
    }
}