/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2018, 1:30:37 PM
    Author     : U s E r ¨
*/


.header, .footer {
    height: 100px;
    width: 100%;
    background: #000;
    text-align: center;
}

.parallax {
    background-image: url('../images/driver-dark2.jpg');
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}
.logo-header {
    margin-top: 21px;
}
.logo-header img {
    width: 290px
}

.box {
    top: 50px;
    padding: 0px 60px;
}
.description-box, .login-box {
    height: 450px;
}
.description-box {
    background: #fffc;
    float: left;
    padding: 51px 50px;
}
.login-box {
    background: rgba(0, 0, 0, 0.56);
    float: right;
    padding: 32px 50px;
}
.login-box1 {
    padding: 103px 50px;
}

.form-control {
    margin-bottom: 15px;
    background: transparent;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0px;
    height: 40px;
    color: #fff;
}
#signup-form {
    margin: 0px auto;
}
.signup-btn {
    background: red;
    width: 117px;
    height: 45px;
    color: #fff;
    border: 0px
}
h3 {
    color: #fff;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 600;
}
.logo {
    padding: 0px 37px;
}
.logo img {
    width: 250px
}
.description {
    text-align: center;
    margin-top: 20px;
}
.description p {
    margin-bottom: 0px;
}
.icons {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    font-size: 19px;
    padding: 9px 8px;
    color: #000;
}
.icon-box {
    margin: 39px 0px;
    text-align: center;
}
.topic {
    color: #000;
    font-size: 16px;

}
.fa-facebook:hover {
    background: #3e5b99;
    border: 1px solid #3e5b99;
    color: #fff;
}
.fa-twitter:hover {
    background: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
}
.fa-google-plus:hover {
    background: #dd4d42;
    border: 1px solid #dd4d42;
    color: #fff;
}
.login-link, .login-link1 {
    text-align: center;
}
h2 {
    font-size: 14px;
    font-weight: 600;
}
h1 {
    font-size: 14px;
    margin-top: 0px;
    color: red;
    font-weight: 600;
    text-decoration: none;
}
h1:hover {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.footer {
    text-align: center;
}
.footer .logo img{
    height: 36px;
    margin: 0px 0 10px;
    width: auto;
}
.footer .logo{
    padding: 10px 0px 0px;
}
.footer p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 13px;
}
.footer p:last-child {
    margin-bottom: 10px;
}
.error-msg {
    padding: 10px;
    background: #ff000080;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 1px solid red;
}
.error-msg1 {
    padding: 10px;
    background: #ff000080;
    color: #fff;
    width: 100%;
    height: 60px;
    border: 1px solid red;
}
.error-login-box {
    padding: 21px 50px;
}
.error-login-box1 {
    padding: 11px 50px;
}
#send-email-form h2 {
    color: #fff;
    font-weight: 100;
}
.login-box2 {
    padding: 85px 50px;
}
.login-box3 {
    padding: 48px 50px;
}
.login-box4 {
    padding: 20px 50px;
}
.login-box5 {
    padding: 103px 50px;
}
.error-msg2 {
    padding: 10px;
    background: #ff000080;
    color: #fff;
    width: 100%;
    border: 1px solid red;
    height: 80px;
}
.signup-btn1 {
    width: 150px;
}
h4 a {
    margin-top: 10px;
    font-size: 11px;
    color: #fff;
}
h4 a:hover {
    color: #fff;
    text-decoration: none;
    
}
@media(max-width:576px) {
    .box {
        top: 50px;
        padding: 0px 0px;
    }
    .parallax {
        min-height: 1000px;
        padding: 0px;
    }
    .footer {
        height: 118px;
    }
    .logo {
        padding: 0px 20px;
    }

}
@media (min-width: 760px) and (max-width: 900px) {
    .parallax {
        min-height: 1100px;
    }
}


